<div class="top-bar">
  <div class="header">
  <div class="header-left">
    <ul class=" menu ">
      <li class="menu-text app-title">{{title}}</li>
    </ul>

  </div>
 <div class="spacer">&nbsp;</div>
  <div class="header-right">
    <ul class="menu">
      <li><a routerLink="/authorization" routerLinkActive="active-link">Sign up</a></li>
      <li><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
    </ul>
  </div>
</div>
</div>
<div class="wallpaper">
  <router-outlet></router-outlet>

</div>

