<form [formGroup]="form" class="form " (ngSubmit)="createPost()">
  <div class="grid">
    <mat-form-field color="accent" class="title">
      <mat-label>Title</mat-label>
      <input matInput  formControlName="name" (focus)="setNameValidators()">
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent" class="title">
      <mat-label>Some notes</mat-label>
      <textarea matInput placeholder="Description..." formControlName="text"></textarea>
    </mat-form-field>

    <div class="calendar">
      <mat-form-field class="example-full-width" color="accent">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker">

        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class=" time" >
        <div class="24hr-example">
          <input placeholder="choose time" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24" formControlName="time" class="date-picker">
          <ngx-material-timepicker #fullTime></ngx-material-timepicker>
        </div>
      </div>

    </div>
  </div>
  <button mat-raised-button class="save-button" color="accent" type="submit" [disabled] = "form.invalid || sending" > Save</button>

</form>


<hr class="mt4">

<mat-spinner *ngIf="isLoading" color="accent" class="loader">
</mat-spinner>

<div class="filter date-picker" >
  <div class="single-date-calendar">
    <mat-form-field class="example-full-width hide-input" >
      <input matInput [matDatepicker]="singlePicker" placeholder="Choose a date" class="calendar-input" #singleDate>
      <mat-datepicker #singlePicker color="accent"></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="singlePicker.open()" matTooltip="Select date">Datepicker</button>
  </div>

  <div class="selected-date">
    <div>
      <span *ngIf="chosenDate">Tasks on   </span><span class="chosen-date">{{chosenDate}}</span>
    </div>

  </div>
  <mat-checkbox class="history" #history
                matTooltip="Show previous tasks">History</mat-checkbox>
  <div class="apply-reset">
    <button  [disabled] = "isLoading" mat-button color="accent" (click)="applyFilter()"
            matTooltip="Apply filter and refresh" > Apply filter</button>
    <button mat-button color="warn" (click)="clearFilter()"
            matTooltip="Reset filter and refresh" >Clear filter</button>
  </div>
</div>

<div *ngIf="!isLoading">

<div *ngIf="tasks.length !== 0; else empty">
  <div class="tasks">
<mat-card *ngFor="let task of tasks">
  <div class = "griddy">
  <mat-card-title>{{task.name}}</mat-card-title>
  <mat-card-content >{{task.text || ' '}}</mat-card-content>
  <mat-card-content class="date" *ngIf="windowRef.nativeWindow.document.body.clientWidth > 1000; else mobile" >{{task.date | date: 'MMM d, y, h:mm a'}}</mat-card-content >
    <ng-template #mobile><mat-card-content>{{task.date | date: 'short'}}</mat-card-content ></ng-template>

  <button
    matTooltip="edit"
    class="edit-btn"
    (click)="onEditTask(task)"
    mat-icon-button color="accent"
    aria-label="Example icon button with a open in new tab icon">
    <mat-icon class="edit">open_in_new</mat-icon>
  </button>
  </div>
  <div class="deletebtn">
    <button mat-icon-button
            matTooltip="delete"
    (click)="onDeleteTask(task)"
    aria-label="Example icon button with a open in new tab icon">
    <mat-icon color="warn">close</mat-icon>
  </button></div>
</mat-card>
</div>
  <div class = "load-more-btn" *ngIf="!emptyResponse">
    <button (click)="loadMore()"  mat-mini-fab color="accent" >
      More
    </button>
  </div>

</div>

<ng-template #empty>
 <p class="centered"> No tasks</p>
</ng-template>
</div>
<mat-spinner *ngIf="smallLoading" color="accent" class="loader">
</mat-spinner>
