<!--<mat-toolbar >-->
<!--  <mat-toolbar-row>-->
<!--    <span> {{title}}</span>-->
<!--    <ul class="menu-list">-->
<!--      <li>-->
<!--        <mat-menu #appMenu="matMenu">-->
<!--          <a routerLink="/wallet/costs" routerLinkActive="active-link" mat-menu-item>Costs</a>-->
<!--          <a routerLink="/wallet/income" routerLinkActive="active-link" mat-menu-item>Income</a>-->
<!--        </mat-menu>-->
<!--        <a mat-icon-button [matMenuTriggerFor]="appMenu">-->
<!--          Wallet-->
<!--          <mat-icon>more_vert</mat-icon>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li><a routerLink="/tasks" routerLinkActive="active-link" class="tasks list-item-link" #test>Tasks</a></li>-->
<!--      <li><a routerLink="/analytics" routerLinkActive="active-link" class="analytics list-item-link">Analytics </a>-->
<!--      </li>-->
<!--      <li><a routerLink="/overview" routerLinkActive="active-link" class="overview list-item-link">Home-->
<!--        <span class="material-icons home-icon">-->
<!--          home-->
<!--      </span>-->
<!--      </a>-->
<!--      </li>-->
<!--      <li class="spacer">&nbsp;</li>-->
<!--      <li (click)="logout()"><a  class="list-item-link">Logout </a></li>-->
<!--    </ul>-->
<!--  </mat-toolbar-row>-->

<!--</mat-toolbar>-->

<div class="top-bar">
  <div class="display-mobile">
      <ul class="menu  flex-dir-row">
        <li class="menu-text app-title">{{title}}</li>
      </ul>
      <ul class="menu">
        <li (click)="openSideNav()"><a class="list-item-link"><span class="material-icons">list</span> </a></li>
      </ul>


  </div>


  <div class="top-bar-left hide-mobile">
    <ul class="dropdown menu flex-dir-row align-middle" data-dropdown-menu>
      <li class="menu-text app-title ">{{title}}</li>
      <li>
        <mat-menu #appMenu="matMenu">
        <a routerLink="/wallet/costs" routerLinkActive="active-link" mat-menu-item>Costs</a>
        <a routerLink="/wallet/income" routerLinkActive="active-link" mat-menu-item>Income</a>
      </mat-menu>
        <a mat-icon-button [matMenuTriggerFor]="appMenu">
          Wallet
          <mat-icon>more_vert</mat-icon>
        </a>
      </li>
      <li><a routerLink="/tasks" routerLinkActive="active-link" class="tasks list-item-link" #test>Tasks</a></li>
      <li><a routerLink="/analytics" routerLinkActive="active-link" class="analytics list-item-link">Analytics </a>
      </li>
      <li><a routerLink="/overview" routerLinkActive="active-link" class="overview list-item-link">Home
        <span class="material-icons home-icon">
          home
      </span>
      </a>
      </li>

    </ul>

  </div>
  <div class="spacer"></div>
  <div class="top-bar-right hide-mobile">
    <ul class="menu">
      <li (click)="logout()"><a  class="list-item-link">Logout </a></li>
    </ul>
  </div>
</div>

<app-side-nav [visible]="sideNav"></app-side-nav>
<router-outlet></router-outlet>
