<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu flex-dir-row align-middle" data-dropdown-menu>
      <li class="menu-text app-title">{{title}}</li>
      <li>
        <a routerLink="/wallet" routerLinkActive="active-link" >Wallet</a>
        <ul class="menu vertical">
          <li><a routerLink="/wallet/costs" routerLinkActive="active-link" class=" costs">Costs</a></li>
          <li ><a routerLink="/wallet/income" routerLinkActive="active-link" class="income">Income</a></li>
        </ul>
      </li>
      <li ><a routerLink="/tasks" routerLinkActive="active-link" class="tasks list-item-link">Tasks</a></li>
      <li ><a routerLink="/analytics" routerLinkActive="active-link" class="analytics list-item-link">Analytics </a></li>
    </ul>

  </div>
  <div class="spacer"></div>
  <div class="top-bar-right">
    <ul class="menu">
    <li (click)="logout()"><a href="#" class="list-item-link">Logout </a></li>
    </ul>
    </div>
</div>
<router-outlet></router-outlet>
