<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu flex-dir-row align-middle" data-dropdown-menu>
      <li class="menu-text app-title">{{title}}</li>
      <li>
        <a href="#">Wallet</a>
        <ul class="menu vertical">
          <li><a href="#" class=" costs">Costs</a></li>
          <li class="warning"><a href="#" class="income">Income</a></li>
        </ul>
      </li>
      <li ><a href="#" class="tasks list-item-link">Tasks</a></li>
      <li ><a href="#" class="analytics list-item-link">Analytics </a></li>
    </ul>

  </div>
  <div class="spacer"></div>

</div>
<router-outlet></router-outlet>
