@import "../../../scss/colors";
.costs{
  color: $alert
}
.income{
  color: $success;
}
.fi-book-bookmark{
  color: #767676;
  padding-left: 0.6rem;
}

.analytics{
  transform: translateX(-1.85rem);
  &::after{

    content: "";
    display: inline-block;
    background: url("../../../assets/flat-color-icons_doughnut-chart.svg");
    padding: 0;
    margin-left: 0.4rem;
    background-size: cover;
    width: 1.9rem;
    height: 1.9rem;
  }
}

.list-item-link{
  display: flex;
  align-content: center;
  align-items: center;
}
.tasks{
  &:after{

    content: "";
    display: inline-block;
    background: url("../../../assets/bx_bxs-calendar-edit.svg");
    padding: 0;
    margin-left: 0.4rem;
    background-size: cover;
    width: 1.9rem;
    height: 1.9rem;
  }
}
.app-title{
  color: $secondary;
  @media only screen and (max-width: 600px) {
    font-size: 110%;
    padding-top: 1rem;
  }
}
.active-link{
  color: $secondary;
}
.hide-mobile{
  @media only screen and (max-width: 680px) {
    display: none;
  }
  @media only screen and (max-width: 820px) {
    font-size: 80%;
  }
  @media only screen and (max-width: 700px) {
    font-size: 75%;
  }

  li{
    @media only screen and (max-width: 820px) {
      padding-right: 0;
      padding-left: 0;
    }

  }
}
.display-mobile{
  display: none;
  @media only screen and (max-width: 680px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.example-sidenav{
  position: absolute;
  left: 0;
  top: 3rem;
  z-index: 10;
  height: 100vh;
}
.top-bar{}
.header-title{
  margin-left: 0;
}
.overview {
  transform: translateX(-3.8rem);

}
.home-icon{
  font-size: 200%;
  padding-left: 0.5rem;
  color: #00bcd4;
  @media only screen and (max-width: 820px) {
    font-size: 260%;
  }
}
