<h1 mat-dialog-title>Task credentials</h1>
<form mat-dialog-content class="content" [formGroup]="form">
  <div class="grid">
    <mat-form-field appearance="outline" color="accent" class="title">
      <mat-label>Task title</mat-label>
      <textarea matInput formControlName="name">{{taskData.name}}</textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="text">
      <mat-label>Task text</mat-label>
      <textarea matInput  formControlName="text">{{taskData.text}}</textarea>
    </mat-form-field>
    <div class="calendar">
      <mat-form-field class="example-full-width" color="accent">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker">
          {{taskData.date}}
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class=" time date-picker " >
        <div class="24hr-example">
          <input (click)="closeModal()" (select)="openModal()" placeholder="choose time"  class="date-picker " aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24" formControlName="time">
          <ngx-material-timepicker  #fullTime class="z-index-1000"></ngx-material-timepicker>
        </div>
      </div>
</div>
</div>
<div class="action-btns" mat-dialog-actions>
  <button mat-button (click)="onCancel()" >Cancel</button>
  <button mat-button (click)="onSaveClick()" color="accent">Save</button>
</div>
</form>
