<div class="background">

<div class="main">
  <section class="upcoming">
    <div class="header"> <h3>UPCOMING TASKS </h3></div>
    <section class="tasks">
      <div class="cards">
        <h4>Task Name</h4>
        <p>Task time</p>
      </div>
      <div class="cards">Rotate</div>
      <div class="cards">Rotate</div>
      <div class="cards">Rotate</div>

    </section>
  </section>

    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>


</div>
</div>
