.background{
  background-color: #212121;
  height: 93vh;
  position: static;
  margin: 0;
  padding: 0;
  &:after{
    content: "";
    display: table;
    clear: both;
  }
  &:before{
    content: "";
    display: table;
    clear: both;
  }
}
.main{
  width: 80%;
  background-color: #e0e0e0;
  margin: 2rem auto;
  position: relative;

}

.upcoming{
display: flex;
  @media only screen and (max-width: 1000px) {
    display: block;
  }
}
.header{
  text-align: center;
  display: flex;

  h3{
    display: inline-block;
    margin: auto;
    @media only screen and (max-width: 1000px) {
      margin-top: 1rem;
    }
  }
}
.tasks{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}
.cards{
  border-radius: 4px;
  display: block;
  position: relative;
  margin: 1rem auto;
  background-color: #cc4b37;
  min-width: 140px;
  min-height: 100px;
  width: 220px;
  height: 220px;
  box-shadow: 3px 2px 3px #9e9e9e;
}
